.container {
  height: 157px;
}

.black-navbar {
  height: 30px;
}

.navbar-brand {
  width: 1000px;
}
.pet-logo {
  height: 157px;
  width: 157px;
  float: left;
}

.animal-images {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 50px;
  margin-left: 250px;
}

.dog-image {
  height: 57px;
  width: 57px;
}

.middle-section {
  display: flex;
  justify-content: space-between;
}

.sidebar-image {
  height: 846.81px;
  width: 210.77px;
  margin-left: 400px;
}

.product-image {
  margin-right: 400px;
}

.login-btn {
  margin-right: 100px;
  height: 50px;
  width: 100px;
}
