.grid-container{
    display: grid;
    grid-template-columns: repeat(4, 250px);
    grid-template-rows: 126px;
    grid-gap:10px;
    justify-content: center;

}

.grid-1 {
    background-color: #c4c4c4;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color:#fff;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
}
.grid-2 {
    background-color: #c4c4c4;
}
.grid-3 {
    background-color: #c4c4c4;
    
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 29px;
display: flex;
align-items: center;
text-transform: uppercase;

color: #FFFFFF;


}
.grid-4{
    background-color: #fff;
}

.text-name{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-weight: 500;
    line-height: 50px;

}
