.inner-text {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 48px;
  display: flex;
  align-items: center;
  text-decoration-line: underline;
  text-transform: uppercase;
  justify-content: center;
  color: #ff513d;
}

.header-main-text {
  font-weight: bold;
}

.main-body-text {
  margin-left: 800px;
}
.price-text {
  color: #ff1703;
  font-weight: bold;
}

.main-price-text {
  display: flex;
  align-items: baseline;
}

.price-text2 {
  color: #ff1703;
}

.main-body-text {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 34px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom-container-div {
  display: flex;
  justify-content: center;
  gap: 4em;
}

.bottom-main-div {
  justify-content: center;
  align-items: center;
  gap: 30px;
  display: flex;
}

.inner_image {
  height: 50px;
  display: inline-flex;
  align-items: baseline;
}

.outer_image {
  height: 50px;
}

.header-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.header-box-arrow-left {
  height: 50px;
  display: inline-flex;
  align-items: baseline;
}

.header-box-arrow-right {
  height: 50px;
  display: inline-flex;
  align-items: baseline;
}

.cart_image {
  display: flex;
  align-items: flex-end;
}
